#define ZMK_POINTING_DEFAULT_MOVE_VAL 80  // default: 600

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mmv {
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <0>;
};

&mt {
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    tapping-term-ms = <250>;
};

/ {
    combos {
        compatible = "zmk,combos";

        layers_selector_L {
            bindings = <&sl 6>;
            key-positions = <1 2 3>;
            layers = <0 1 2 4 3 5>;
        };

        layers_selector_R {
            bindings = <&sl 6>;
            key-positions = <6 7 8>;
            layers = <0 1 2 3 4 5>;
        };
    };

    behaviors {
        wasd_nums: wasd_nums {
            compatible = "zmk,behavior-hold-tap";
            label = "WASD_NUMS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <0>;
            tapping-term-ms = <250>;
            require-prior-idle-ms = <0>;
        };

        hl_mod: hl_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HL_MOD";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <0>;
            flavor = "balanced";
        };

        layer_stlayer: layer_stlayer {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_STLAYER";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            quick-tap-ms = <0>;
            tapping-term-ms = <250>;
            require-prior-idle-ms = <0>;
        };

        kp_stlayer: kp_stlayer {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_STLAYER";
            bindings = <&kp>, <&sl>;

            #binding-cells = <2>;
            quick-tap-ms = <0>;
            tapping-term-ms = <250>;
            require-prior-idle-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y           &kp U      &kp I      &kp O    &kp P
                &kp A  &kp S  &kp D  &kp F  &kp G        &kp H           &kp J      &kp K      &kp L    &kp SEMI
&mt LALT GRAVE  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N           &kp M      &kp COMMA  &kp DOT  &kp FSLH  &mt RIGHT_ALT BSLH
                              &mo 3  &mo 2  &kp SPACE    &kp LEFT_SHIFT  &kp LCTRL  &mo 1
            >;
        };

        wsad {
            bindings = <
           &kp TAB    &kp N1  &kp N2  &kp N3  &kp N4       &kp MINUS  &kp N7  &kp N8  &kp N9  &kp N0
           &kp LALT   &kp A   &kp W   &kp D   &kp F        &kp EQUAL  &kp N4  &kp N5  &kp N6  &kp RALT
&kp LSHFT  &kp LCTRL  &kp Q   &kp S   &kp E   &kp R        &kp BSLH   &kp N1  &kp N2  &kp N3  &kp RCTRL  &kp RSHFT
                              &mo 3   &mo 2   &kp SPACE    &none      &none   &none
            >;
        };

        Navigation {
            bindings = <
                 &kp INS        &kp HOME        &kp BSPC      &kp END          &kp PG_UP        &kp PG_UP  &kp HOME        &kp BACKSPACE   &kp END          &kp INS
                 &kp RIGHT_ALT  &kp LEFT_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp PAGE_DOWN    &kp PG_DN  &kp LEFT_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW  &kp RALT
&kp RIGHT_SHIFT  &kp RCTRL      &kp ESC         &kp DOWN      &kp ENTER        &kp DEL          &kp DEL    &kp ENTER       &kp DOWN_ARROW  &kp ESC          &kp RCTRL  &kp RSHFT
                                                &none         &none            &none            &none      &none           &none
            >;
        };

        Numpad {
            bindings = <
                 &kp RGUI         &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_N0     &none  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_N0
                 &kp SCROLLLOCK   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_DOT    &none  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_DOT
&kp PRINTSCREEN  &kp PAUSE_BREAK  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none         &none  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none       &none
                                                   &none            &none            &none         &none  &none            &none
            >;
        };

        Function {
            bindings = <
          &kp LGUI           &kp F7  &kp F8  &kp F9  &kp F10    &kp F10  &kp F7  &kp F8  &kp F9  &kp LGUI
          &kp C_VOLUME_UP    &kp F4  &kp F5  &kp F6  &kp F11    &kp F11  &kp F4  &kp F5  &kp F6  &kp C_VOLUME_UP
&kp CAPS  &kp C_VOLUME_DOWN  &kp F1  &kp F2  &kp F3  &kp F12    &kp F12  &kp F1  &kp F2  &kp F3  &kp C_VOLUME_DOWN  &kp CAPS
                                     &trans  &trans  &trans     &trans   &trans  &trans
            >;
        };

        Mouse {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layers {
            bindings = <
           &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
           &kp N1  &kp N2  &to 1   &to 0   &kp N5    &kp N6  &to 0   &kp N8  &kp N9  &kp N0
&kp MINUS  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp EQUAL
                           &kp N1  &kp N2  &kp N3    &kp N1  &kp N2  &kp N3
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
