#define ZMK_POINTING_DEFAULT_MOVE_VAL 80  // default: 600

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv {
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <0>;
};

&mt {
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    tapping-term-ms = <250>;
};

/ {
combos {
        compatible = "zmk,combos";
        timeout-ms = <60>;
        key-press-match-history-window = <60>;
        global-quick-tap;

        layers_selector_L {
            bindings = <&sl 6>;
            key-positions = <10 14>;

            //layers = <0 1 2 3 4 5>;
        };

        layers_selector_R {
            bindings = <&sl 6>;
            key-positions = <15 19>;

            //layers = <0 1 2 3 4 5>;
        };

        //qwerty macroses------------------------------------------------

        qwerty_yo {
            bindings = <&kp LS(NUMBER_1)>;
            key-positions = <0 10>;
            layers = <0>;
        };
        qwerty_shift1 {
            bindings = <&kp LS(NUMBER_1)>;
            key-positions = <22 11>;
            layers = <0>;
        };

        qwerty_shift2 {
            bindings = <&kp LS(NUMBER_2)>;
            key-positions = <1 11>;
            layers = <0>;
        };

        qwerty_shift3 {
            bindings = <&kp LS(NUMBER_3)>;
            key-positions = <2 12>;
            layers = <0>;
        };

        qwerty_shift4 {
            bindings = <&kp LS(NUMBER_4)>;
            key-positions = <3 13>;
            layers = <0>;
        };

        qwerty_shift5 {
            bindings = <&kp LS(N5)>;
            key-positions = <4 14>;
            layers = <0>;
        };

        qwerty_shift6 {
            bindings = <&kp LS(NUMBER_6)>;
            key-positions = <5 15>;
            layers = <0>;
        };

        qwerty_shift7 {
            bindings = <&kp LS(N7)>;
            key-positions = <6 16>;
            layers = <0>;
        };

        qwerty_shift8 {
            bindings = <&kp LS(N8)>;
            key-positions = <7 17>;
            layers = <0>;
        };

        qwerty_shift9 {
            bindings = <&kp LS(N9)>;
            key-positions = <8 18>;
            layers = <0>;
        };

        qwerty_shift0 {
            bindings = <&kp LS(N0)>;
            key-positions = <29 18>;
            layers = <0>;
        };

        qwerty_quote {
            bindings = <&kp SEMICOLON>;
            key-positions = <26 15>;
            layers = <0>;
        };

        qwerty_br_L {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <27 16>;
            layers = <0>;
        };

        qwerty_br_R {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <28 17>;
            layers = <0>;
        };

        //wsad macroses-----------------------------------

        wsad_5 {
            bindings = <&kp N5>;
            key-positions = <1 11>;
            layers = <1>;
        };

        wsad_6 {
            bindings = <&kp NUMBER_6>;
            key-positions = <12 2>;
            layers = <1>;
        };

        wsad_7 {
            bindings = <&kp N7>;
            key-positions = <3 13>;
            layers = <1>;
        };

        wsad_8 {
            bindings = <&kp N8>;
            key-positions = <4 14>;
            layers = <1>;
        };

        wsad_9 {
            bindings = <&kp N9>;
            key-positions = <1 2>;
            layers = <1>;
        };

        wsad_0 {
            bindings = <&kp N0>;
            key-positions = <3 2>;
            layers = <1>;
        };

        wsad_z {
            bindings = <&kp Z>;
            key-positions = <22 11>;
            layers = <1>;
        };

        wsad_x {
            bindings = <&kp X>;
            key-positions = <23 12>;
            layers = <1>;
        };

        wsad_c {
            bindings = <&kp C>;
            key-positions = <24 13>;
            layers = <1>;
        };

        wsad_v {
            bindings = <&kp V>;
            key-positions = <14 25>;
            layers = <1>;
        };

        wsad_t {
            bindings = <&kp T>;
            key-positions = <22 23>;
            layers = <1>;
        };

        wsad_g {
            bindings = <&kp G>;
            key-positions = <23 24>;
            layers = <1>;
        };

        wsad_b {
            bindings = <&kp B>;
            key-positions = <24 25>;
            layers = <1>;
        };

        wsad_min {
            bindings = <&kp MINUS>;
            key-positions = <33 12 2>;
            layers = <1 2>;
        };

        wsad_equ {
            bindings = <&kp EQUAL>;
            key-positions = <33 3 13>;
            layers = <1 2>;
        };

        wsad_grave {
            bindings = <&kp GRAVE>;
            key-positions = <0 1>;
            layers = <1>;
        };

        wsad_y {
            bindings = <&kp Y>;
            key-positions = <4 33>;
            layers = <1 2>;
        };

        wsad_u {
            bindings = <&kp U>;
            key-positions = <33 3>;
            layers = <1 2>;
        };

        wsad_i {
            bindings = <&kp I>;
            key-positions = <33 2>;
            layers = <1 2>;
        };

        wsad_o {
            bindings = <&kp O>;
            key-positions = <33 1>;
            layers = <1 2>;
        };

        wsad_p {
            bindings = <&kp P>;
            key-positions = <33 0>;
            layers = <1 2>;
        };

        wsad_h {
            bindings = <&kp H>;
            key-positions = <33 14>;
            layers = <1>;
        };

        wsad_j {
            bindings = <&kp J>;
            key-positions = <33 13>;
            layers = <1>;
        };

        wsad_k {
            bindings = <&kp K>;
            key-positions = <33 12>;
            layers = <1>;
        };

        wsad_l_key {
            bindings = <&kp L>;
            key-positions = <33 11>;
            layers = <1>;
        };

        wsad_n {
            bindings = <&kp N>;
            key-positions = <33 25>;
            layers = <1>;
        };

        wsad_m {
            bindings = <&kp M>;
            key-positions = <33 24>;
            layers = <1>;
        };

        wsad_comma {
            bindings = <&kp COMMA>;
            key-positions = <33 23>;
            layers = <1>;
        };

        wsad_period {
            bindings = <&kp PERIOD>;
            key-positions = <33 22>;
            layers = <1>;
        };

        wsad_sk {
            bindings = <&kp SEMI>;
            key-positions = <33 13 24>;
            layers = <1>;
        };

        wsad_slash {
            bindings = <&kp SLASH>;
            key-positions = <33 14 25>;
            layers = <1>;
        };

        wsad_bslash {
            bindings = <&kp BACKSLASH>;
            key-positions = <33 14 4>;
            layers = <1>;
        };

        //nump macroses------------------------------------------------

        numpL_div {
            bindings = <&kp KP_DIVIDE>;
            key-positions = <1 11>;
            layers = <3>;
        };

        numpL_mult {
            bindings = <&kp KP_MULTIPLY>;
            key-positions = <2 12>;
            layers = <3>;
        };

        numpL_minus {
            bindings = <&kp KP_SUBTRACT>;
            key-positions = <3 13>;
            layers = <3>;
        };

        numpL_plus {
            bindings = <&kp KP_PLUS>;
            key-positions = <13 24>;
            layers = <3>;
        };

        numpL_nlock {
            bindings = <&kp KP_NUMLOCK>;
            key-positions = <22 11>;
            layers = <3>;
        };

        numpL_ent {
            bindings = <&kp KP_ENTER>;
            key-positions = <23 12>;
            layers = <3>;
        };

        numpR_div {
            bindings = <&kp KP_DIVIDE>;
            key-positions = <8 18>;
            layers = <3>;
        };

        numpR_mult {
            bindings = <&kp KP_MULTIPLY>;
            key-positions = <7 17>;
            layers = <3>;
        };

        numpR_minus {
            bindings = <&kp KP_SUBTRACT>;
            key-positions = <6 16>;
            layers = <3>;
        };

        numpR_plus {
            bindings = <&kp KP_PLUS>;
            key-positions = <16 27>;
            layers = <3>;
        };

        numpR_nlock {
            bindings = <&kp KP_NUMLOCK>;
            key-positions = <29 18>;
            layers = <3>;
        };

        numpR_ent {
            bindings = <&kp KP_ENTER>;
            key-positions = <28 17>;
            layers = <3>;
        };

        //other macroses------------------------------------------------

        wsad_cpgup {
            bindings = <&kp LC(PG_UP)>;
            key-positions = <32 12>;
            layers = <0>;
            timeout-ms = <45>;
        };

        wsad_cpgdn {
            bindings = <&kp LC(PAGE_DOWN)>;
            key-positions = <32 23>;
            layers = <0>;
            timeout-ms = <45>;
        };

    };

    behaviors {
        wasd_nums: wasd_nums {
            compatible = "zmk,behavior-hold-tap";
            label = "WASD_NUMS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <0>;
            tapping-term-ms = <250>;
            require-prior-idle-ms = <0>;
        };

        hl_mod: hl_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HL_MOD";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <0>;
            flavor = "balanced";
        };

        layer_stlayer: layer_stlayer {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_STLAYER";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            quick-tap-ms = <0>;
            tapping-term-ms = <250>;
            require-prior-idle-ms = <0>;
        };

        kp_stlayer: kp_stlayer {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_STLAYER";
            bindings = <&kp>, <&sl>;

            #binding-cells = <2>;
            quick-tap-ms = <0>;
            tapping-term-ms = <250>;
            require-prior-idle-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y           &kp U      &kp I      &kp O    &kp P
                &kp A  &kp S  &kp D  &kp F  &kp G        &kp H           &kp J      &kp K      &kp L    &kp SEMI
&mt LALT GRAVE  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N           &kp M      &kp COMMA  &kp DOT  &kp FSLH  &mt RIGHT_ALT BSLH
                              &mo 3  &mo 2  &kp SPACE    &kp LEFT_SHIFT  &kp LCTRL  &mo 1
            >;
        };

        wsad {
            bindings = <
           &kp TAB    &kp N1  &kp N2  &kp N3  &kp N4       &kp N0     &kp N7  &kp N8  &kp N9  &kp BSLH
           &kp LALT   &kp A   &kp W   &kp D   &kp F        &kp MINUS  &kp N4  &kp N5  &kp N6  &kp RALT
&kp LSHFT  &kp LCTRL  &kp Q   &kp S   &kp E   &kp R        &kp EQUAL  &kp N1  &kp N2  &kp N3  &kp RCTRL  &kp RSHFT
                              &mo 3   &mo 2   &kp SPACE    &none      &none   &none
            >;
        };

        Navigation {
            bindings = <
           &kp INS        &kp HOME        &kp BSPC      &kp END          &kp DEL          &kp DEL    &kp HOME        &kp BACKSPACE   &kp END          &kp INS
           &kp RIGHT_ALT  &kp LEFT_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp PG_UP        &kp PG_UP  &kp LEFT_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW  &kp RALT
&kp LSHFT  &kp RCTRL      &kp ESC         &kp DOWN      &kp ENTER        &kp PAGE_DOWN    &kp PG_DN  &kp ENTER       &kp DOWN_ARROW  &kp ESC          &kp RCTRL  &kp RSHFT
                                          &mo 3         &none            &mo 4            &mo 4      &none           &mo 3
            >;
        };

        Numpad {
            bindings = <
          &kp PRINTSCREEN  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_N0     &kp KP_N0   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PRINTSCREEN
          &kp SCROLLLOCK   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_DOT    &kp KP_DOT  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp SCROLLLOCK
&kp CAPS  &kp PAUSE_BREAK  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none         &none       &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp PAUSE_BREAK  &kp CLCK
                                            &none            &none            &none         &none       &none            &none
            >;
        };

        Function {
            bindings = <
          &kp LGUI           &kp F7  &kp F8  &kp F9  &kp F10    &kp F10  &kp F7  &kp F8  &kp F9  &kp LGUI
          &kp C_VOLUME_UP    &kp F4  &kp F5  &kp F6  &kp F11    &kp F11  &kp F4  &kp F5  &kp F6  &kp C_VOLUME_UP
&kp RGUI  &kp C_VOLUME_DOWN  &kp F1  &kp F2  &kp F3  &kp F12    &kp F12  &kp F1  &kp F2  &kp F3  &kp C_VOLUME_DOWN  &kp RGUI
                                     &none   &none   &none      &none    &none   &none
            >;
        };

        Mouse {
            bindings = <
       &none  &mmv MOVE_X(-1400)  &mmv MOVE_Y(-1400)  &mmv MOVE_X(1400)  &none                &none              &mmv MOVE_X(-1400)  &mmv MOVE_Y(-1400)  &mmv MOVE_X(1400)  &none
       &none  &mmv MOVE_LEFT      &mmv MOVE_UP        &mmv MOVE_RIGHT    &msc SCRL_UP         &none              &mmv MOVE_LEFT      &mmv MOVE_UP        &mmv MOVE_RIGHT    &none
&none  &none  &mkp RCLK           &mkp MCLK           &mkp LCLK          &msc SCRL_DOWN       &none              &mkp RCLK           &mkp MCLK           &mkp LCLK          &none  &none
                                  &none               &mmv MOVE_DOWN     &mmv MOVE_Y(1400)    &mmv MOVE_Y(1400)  &mmv MOVE_DOWN      &none
            >;
        };

        layers {
            bindings = <
           &kp MINUS  &kp MINUS  &kp MINUS  &kp MINUS  &to 0        &to 0      &kp MINUS  &kp MINUS  &kp MINUS  &kp MINUS
           &kp MINUS  &to 4      &to 5      &kp MINUS  &kp MINUS    &kp MINUS  &to 4      &to 5      &kp MINUS  &kp MINUS
&kp MINUS  &kp MINUS  &to 1      &to 2      &to 3      &kp MINUS    &kp MINUS  &to 1      &to 2      &to 3      &kp MINUS  &kp MINUS
                                 &kp MINUS  &kp MINUS  &kp MINUS    &kp MINUS  &kp MINUS  &kp MINUS
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
