#define ZMK_POINTING_DEFAULT_MOVE_VAL 80  // default: 600

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mmv {
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <0>;
};

&mt {
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
    tapping-term-ms = <250>;
};

/ {
    combos {
        compatible = "zmk,combos";

        layers_selector {
            bindings = <&sl 0>;
            key-positions = <1 2 3 6 7 8>;
            layers = <1 2>;
        };
    };

    behaviors {
        wasd_nums: wasd_nums {
            compatible = "zmk,behavior-hold-tap";
            label = "WASD_NUMS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            quick-tap-ms = <0>;
            tapping-term-ms = <250>;
            require-prior-idle-ms = <0>;
        };

        hl_mod: hl_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HL_MOD";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <0>;
            require-prior-idle-ms = <0>;
            flavor = "balanced";
        };

        layer_stlayer: layer_stlayer {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_STLAYER";
            bindings = <&mo>, <&sl>;

            #binding-cells = <2>;
            quick-tap-ms = <0>;
            tapping-term-ms = <250>;
            require-prior-idle-ms = <0>;
        };

        kp_stlayer: kp_stlayer {
            compatible = "zmk,behavior-hold-tap";
            label = "KP_STLAYER";
            bindings = <&kp>, <&sl>;

            #binding-cells = <2>;
            quick-tap-ms = <0>;
            tapping-term-ms = <250>;
            require-prior-idle-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layers {
            bindings = <
           &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
           &kp N1  &kp N2  &to 2   &to 1   &kp N5    &kp N6  &to 1   &kp N8  &kp N9  &kp N0
&kp MINUS  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &kp EQUAL
                           &kp N1  &kp N2  &kp N3    &kp N1  &kp N2  &kp N3
            >;
        };

        qwerty {
            bindings = <
                &kp Q  &kp W  &kp E  &kp R  &kp T        &kp Y           &kp U      &kp I      &kp O    &kp P
                &kp A  &kp S  &kp D  &kp F  &kp G        &kp H           &kp J      &kp K      &kp L    &kp SEMI
&mt LALT GRAVE  &kp Z  &kp X  &kp C  &kp V  &kp B        &kp N           &kp M      &kp COMMA  &kp DOT  &kp FSLH  &mt RIGHT_ALT BSLH
                              &none  &none  &kp SPACE    &kp LEFT_SHIFT  &kp LCTRL  &none
            >;

            label = "qwerty";
        };

        wsad {
            bindings = <
           &kp TAB    &kp N1  &kp N2  &kp N3  &kp N4       &kp MINUS  &kp N7     &kp N8  &kp N9  &kp N0
           &kp LALT   &kp A   &kp W   &kp D   &kp F        &kp EQUAL  &kp N4     &kp N5  &kp N6  &none
&kp LSHFT  &kp LCTRL  &kp Q   &kp S   &kp E   &kp R        &kp BSLH   &kp N1     &kp N2  &kp N3  &none   &none
                              &none   &none   &kp SPACE    &kp RSHFT  &kp RCTRL  &none
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
